Flask
numpy
boto3
torch>=2.1.1
transformers>=4.33.3
datasets
soundfile
pydub
librosa
scipy
peft
optimum
accelerate
encodec
funcy
tqdm
huggingface-hub
datasets
my-voice-analysis
firebase-admin
audio-effects